<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
		class : 어떠한 클래스를 객체화 할것인가?
		-> 클래스의 이름은 중복이 될 수 있으니까 반드시 패키지명까지 같이 작성해준다.
		id = 그 객체의 변수명은 어떻게 할 것인가?	
	 -->
	<bean id = "exam" class = "spring.di.entity.NewlecExam"/>
	
	<!-- 
		ExamConsole console = new GridExamConsole();
		이 있을 때 new GridExamConsole() 부분의
		GridExamConsole 객체를 지시해보자.
		
		console객체를 만들었으면 
		console.setExam( exam ) 의
		지시어를 작성해보자.
		
	 -->
	<bean id = "console" class = "spring.di.ui.GridExamConsole">
		<!--
			property 태그 같은 경우는 해당 객체의 setter메소드를 호출하는데
			사용된다. 그래서 property 태그 안에 name이라는 속성을 통해
			setter메소드의 이름을 넣어주는데 여기에는 몇가지 규칙이 있다.
			 
			예를들어 setter메소드의 이름이 setExam()일 경우
			1. set 생량
			2. 나머지 부분의 첫글자를 소문자로 변경
			3. ()는 없애준다.
			
			즉 setExam()에서 exam으로 변경해서 작성해줘야 한다. 그럼
			property태그가 알아서 setExam()을 인식하게 된다.
			
			property태그안에 ref 속성 같은 경우는 설정할 객체 타입의 이름( bean태그의 id )을
			넣어주면 된다.
			
			무슨 말이냐면 console.setExam( 파라미터 객체 )가 있을때 ref 속성에는 파라미터 부분에
			들어갈 bean객체의 아이디를 넣어주면 된다.
			 
		 -->
		<property name="exam" ref = "exam"/>
	</bean>
	
	
	

</beans>
